.headerRight {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    display: flex;
    align-items: stretch;
}

.leftItem {
    padding-top: 20px;
}

.leftItem span {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    letter-spacing: 0.02857em;
    opacity: 1;
    text-transform: capitalize;
    vertical-align: unset;
    text-decoration: none;
    font-weight: 400;
    line-height: 0;
}

.leftItem h3 {
    margin-top: 6px;
}

.rightItem {
    display: flex;
    align-items: stretch;
    margin-left: 500px;
    margin-top: 30px;
}

.rightItem input {
    width: 150px;
    height: 40px;
    border-radius: 5px;
}

.iconRightItem span {
    font-size: 23px;
    padding-left: 15px;
}

.widgetMain {
    width: 100%;
    height: auto;
    display: flex;
    align-items: stretch;
}

.widgetMain div {
    margin: 10px;
}

.widgetMain .widget {
    width: 215px;
    height: 140px;
    border-radius: 0.75rem;
    background-color: #282c44;
    position: relative;
}

.widgetMain .widget .widgetMini {
    font-size: 20px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: #30344c;
    position: absolute;
    top: -24px;
    opacity: 1;
    background: linear-gradient(195deg, rgb(50, 58, 84), rgb(26, 32, 53));
    color: rgb(255, 255, 255);
    border-radius: 0.75rem;
    box-shadow: rgb(0 0 0 / 14%) 0rem 0.25rem 1.25rem 0rem, rgb(64 64 64 / 40%) 0rem 0.4375rem 0.625rem -0.3125rem;
}

.widgetMain .widget .information span {
    position: absolute;
    right: 20px;
    color: white;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
}

.widgetMain .widget .information h2 {
    position: absolute;
    top: 5px;
    right: 20px;
    color: white;
}

.widgetMain .widget .line {
    position: absolute;
    top: 60px;
    left: 10px;
    width: 200px;
    background-color: aliceblue;
    flex-shrink: 0;
    border-top: 0px solid rgba(0, 0, 0, 0.08);
    border-right: 0px solid rgba(0, 0, 0, 0.08);
    border-left: 0px solid rgba(0, 0, 0, 0.08);
    height: 0.0625rem;
    margin: 1rem 0px;
    border-bottom: none;
    opacity: 0.25;
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0)) !important;
}

.widgetMain .widget .textInfor {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
}