.pagination {
    width: 100%;
    height: 20px;
}

.itemWrapper {
    float: right;
}

.pagination ul {
    display: inline-block;
}

.pagination ul li {
    width: 20px;
    display: inline-block;
    padding-right: 10px;
}

.buttonMove {
    display: inline-block;
}